.bash_logout
.bashrc
.cache/
.cloud-locale-test.skip
.config/
.lesshst
.local/
.profile
.viminfo
.*.sw[po]
.DS_Store

/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
.env*
!.env.example
!.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.php-cs-fixer.cache

/caddy
frankenphp
frankenphp-worker.php
