@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

@import '~trix/dist/trix.css';

@import url('https://rsms.me/inter/inter.css');

html, body { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
    html, body { font-family: 'Inter var', sans-serif !important; }
}

textarea {
    overflow: hidden;
    min-height: 5rem !important;
    resize: vertical;
}

trix-toolbar .trix-button-group--file-tools,
trix-toolbar .trix-button--icon-heading-1 {
    display: none !important;
}

.dropdown-menu {
    z-index: 1300;
}

#questionText li {
    padding-left: 5px;
}

#questionText li:hover {
    cursor: pointer;
}

.bg-correct {
    background-color: #d4edda !important;
}
.bg-incorrect {
    background-color: #f8d7da !important;
}
.bg-cancelled {
    color: #495057 !important;
    background: #f8d7da !important;
}
