@use '../font-files/inter';

@import '~bootstrap/scss/bootstrap';
// Explicity import .css file to avoid the following regression:
// https://github.com/twbs/icons/issues/1381
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import '~trix/dist/trix.css';

:root {
    --message-hover-bg: rgba(0, 0, 0, 0.02);
}

html[data-bs-theme="dark"] {
    --message-hover-bg: rgba(255, 255, 255, 0.06);
}

html, body {
    font-family: Inter, sans-serif !important;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    html, body { font-family: InterVariable, sans-serif !important; }
}

textarea {
    overflow: hidden;
    min-height: 5rem !important;
    resize: vertical;
}

trix-toolbar .trix-button-group--file-tools,
trix-toolbar .trix-button--icon-heading-1 {
    display: none !important;
}

.dropdown-menu {
    z-index: 1300;
}

#questionText li {
    padding-left: 5px;
}

#questionText li:hover {
    cursor: pointer;
}

.text-success-dark {
    color: $success,
}
.text-danger-dark {
    color: $danger,
}
.text-warning-dark {
    color: $warning,
}

.bg-success-dark {
    background-color: $success;
}
.bg-danger-dark {
    background-color: $danger;
}
.bg-incorrect {
    color: #495057 !important;
    background: #f8d7da !important;
    border-color: #f8d7da !important;
}
.bg-correct {
    color: #495057 !important;
    background: #d4edda !important;
    border-color: #d4edda !important;
}

.border-success {
    border-color: $success !important;
}
.border-danger {
    border-color: $danger !important;
}

.card-highlight:hover {
    filter: brightness(97%);
};

.message-content:hover:not(.bg-light) {
    background-color: var(--message-hover-bg);
}

.message-content {
    transition: background-color 0.2s ease-in-out;
}

// Trix editor dark mode support
// based on https://github.com/basecamp/trix/issues/947#issuecomment-2054076733
html[data-bs-theme="dark"] {
    trix-toolbar .trix-button {
        filter: unquote("invert()");
    }

    trix-editor {
        color: white;
    }

    trix-toolbar .trix-button:disabled {
        filter: unquote("invert()") grayscale(1) brightness(2);
    }
    trix-toolbar .trix-button--icon::before {
        opacity: 1;
    }
    trix-toolbar .trix-button--icon:disabled::before {
        opacity: 0.5;
    }

    .trix-dialog .trix-button-group {
        filter: unquote("invert()");
    }
    .trix-input--dialog,
    .trix-button--dialog {
        color: black;
    }
}
